/* FONTS  */

@font-face {
  font-family: 'Livvic';
  src: url('../fonts/Livvic-Medium.woff2') format('woff2'),
      url('../fonts/Livvic-Medium.woff') format('woff');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Livvic';
  src: url('../fonts/Livvic-Bold.woff2') format('woff2'),
      url('../fonts/Livvic-Bold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Livvic';
  src: url('../fonts/Livvic-SemiBold.woff2') format('woff2'),
      url('../fonts/Livvic-SemiBold.woff') format('woff');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}




/* GLOBAL */
html {
  box-sizing: border-box;
  height: 100%;
  scroll-behavior: smooth;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  display: flex;
  flex-direction: column;
  height: 100%;
  padding: 0;
  margin: 0;
  font-family: "Livvic", "Arial", sans-serif;
  font-weight: 600;
  font-size: 15px;
  line-height: 25px;
  background-color: #fff;
  color: #fff;
}

img {
  max-width: 100%;
  height: auto;
}


/* CONTAINER */
.container {
  width: 100%;
  max-width: 1210px;
  padding-left: 50px;
  padding-right: 50px;
  margin-left: auto;
  margin-right: auto;
}


/* MAIN-CONTENT */
.main-content {
  flex-grow: 1;
}


/* HEADER  */

.site-header {
  background-color:  #014e56;
  padding-top: 70px;
  padding-bottom: 70px;
}
.site-header-container {
  display: flex;
  align-items: center;
}

.site-header-logo {
  margin-right: 80px;
}
.site-header-logo-img {
  display: block;
  width: 160px;
  height: 40px;
}
.site-nav {
  display: flex;
  align-items: center;
}
.site-nav-items {
  display: flex;
  align-items: center;
  margin: 0;
  padding: 0;
  list-style-type: none;
  margin-right: 570px;
}
.site-nav-item:not(:last-child) {
  margin-right: 40px;
}

.site-header-link {
  text-decoration: none;
  color: #fff;
  font-size: 18px;
  line-height: 28px;
}
.site-header-button {
  background-color: transparent;
  border: 2px solid #fff;
  color: #fff;
  font-weight: 600;
  font-size: 18px;
  line-height: 28px;
  padding: 10px 33px;
  border-radius: 24px;
}


/* HERO  */


.site-hero {
  padding-top: 70px;
  padding-bottom: 250px;
  background-color: #014e56;
  /* background-image: url(../img/directors-circle.svg); */
  background-repeat: no-repeat;
  background-position: left  center;
}

.site-hero-container {
  display: flex;
  align-items: center;
}

.site-hero-heading {
  width: 635px;
  height: 200px;
  font-weight: 700;
  margin: 0;
  font-size: 100px;
  line-height: 100px;
  margin-right: 30px;
  color: #fff;
}

.heading-pink{
  color: #f67e7e
}

.site-hero-text {
  display: flex;
  align-items: flex-end;
  width: 445px;
  height: 200px;
  margin: 0;
  color: #fff;
  position: relative;
}

.site-hero-text::before{
  display: block;
  content: "";
  width: 50px;
  height: 4px;
  background-color: #79c8c7;
  position: absolute;
  top: 0;
}


/* HERO-MIDDLE */

.site-hero-middle {
  background-color: #012f34;
  margin: 0;
  padding-top: 140px;
  padding-bottom: 140px;
}
.site-hero-middle-container {
  display: flex;
}

.hero-middle-heading {
  width: 445px;
  margin: 0;
  color: #fff;
  font-weight: 700;
  font-size: 48px;
  line-height: 48px;
  margin-right: 125px;
  position: relative;
}

.hero-middle-heading::before{
  content: "";
  width: 50px;
  height: 4px;
  background-color: #f67e7e;
  position: absolute;
  top: -54px;
}


.site-middle-service {
  display: flex;
}

.middle-service-img {
  display: block;
  width: 72px;
  height: 72px;
  margin-right: 23px;
}

.middle-service-info {
  width: 445px;
}

.service-info-heading {
  margin: 0;
  font-size: 18px;
  line-height: 28px;
  font-weight: 700;
  color: #f67e7e;
}


/* HERO-BOTTOM  */

.site-hero-bottom {
  background-color: #004047;
  padding-top: 140px;
  padding-bottom: 140px;
}
.site-hero-bottom-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.hero-bottom-heading {
  text-align: center;
  width: 932px;
  font-weight: 700;
  font-size: 48px;
  line-height: 48px;
  margin: 0;
}
.hero-bottom-people-info {
  display: flex;
  margin-top: 50px;
}
.people-info-item {
  width: 350px;
  text-align: center;
  background-image: url(../img/icon-quotes.svg);
  background-repeat: no-repeat;
  background-position: top center;
  padding-top: 40px;
}

.people-info-item:not(:last-child){
  margin-right: 30px;
}
.people-info-text{
  margin: 0;
}

.people-name {
  font-size: 18px;
  line-height: 28px;
  font-weight: 700;
  color: #79c8c7;
  margin: 0;
  margin-top: 24px;
}

.people-job {
  margin: 0;
  margin-top: 2px;
}
.people-img {
  border-radius: 50%;
  margin-top: 32px;
  border: 2px solid #c4fffe;
}

/* HERO-CTA */

.site-hero-cta {
  padding-top: 76px;
  padding-bottom: 76px;
  background-color: #f67e7e;
}
.cta-container {
  display: flex;
  align-items: center;
}

.cta-heading {
  font-size: 48px;
  line-height: 48px;
  font-weight: 700;
  color: #012f34;
  margin: 0;
  margin-left: 90px;
  margin-right: 260px;
}

.cta-button {
  border: 2px solid #012f34;
  color: #012f34;
  font-weight: 600;
  font-size: 18px;
  line-height: 28px;
}

/* SITE-FOOTER */

.site-footer {
  background-color: #002529;
  padding-top: 48px;
  padding-bottom: 48px;
}
.footer-container {
  display: flex;
  justify-content: space-between;
}

.site-nav-items-footer {
  margin: 0;
  padding: 0;
  list-style-type: none;
  display: flex;
}

.footer-info-text {
  width: 445px;
  color: #fff;
  opacity: 0.6;
  margin-left: 125px;
}
.footer-social-items {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.footer-social-text {
  color: #fff;
  opacity: 0.6 ;
  margin-top: 50px;
}




/* ABOUT */

.site-hero-about{
  padding-bottom: 140px;
}

.site-hero-about-heading{
  width: 350px;
  margin-right: 30px;
  font-size: 64px;
}

.hero-text-about{
  width: 730px;
  position: relative;
  margin-top: 40px;
  font-size: 18px;
  line-height: 28px;
}

.hero-text-about::before{
  content: "";
  width: 50px;
  height: 4px;
  background-color: #f67e7e;
  position: absolute;
  top: -40px;
}

/* HERO-CLIENTS */

.site-hero-clients {
  background-color: #004047;
  padding-top: 140px;
  padding-bottom: 65px;
}
.client-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.client-heading {
  font-size: 48px;
  line-height: 48px;
  font-weight: 700;
}

.client-items {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}

.client-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 32px;
  padding-bottom: 56px;
  width: 350px;
  background-color: #012f34;
  margin-bottom: 75px;
  position: relative;
}

.client-item:not(:nth-child(3n)){
  margin-right: 15px;
}

.client-item::after{
  content: "";
  width: 56px;
  height: 56px;
  border-radius: 50%;
  background-color: #f67e7e;
  background-image: url(../img/icon-plus.svg);
  background-repeat: no-repeat;
  background-position: center center;
  position: absolute ;
  bottom: -28px;
}

.client-img {
  width: 96px;
  height: 96px;
  border-radius: 50%;
  border: 2px solid #c4fffe;
}
.client-name {
  margin: 0;
  margin-top: 16px;
  font-size: 18px;
  line-height: 28px;
  font-weight: 700;
  color: #79c8c7;
}
.client-job {
  margin: 0;
}

.client-item:last-child{
  text-align: center;
  padding-left: 48px;
  padding-right: 48px;
  background-color: #002529;
}

.client-item:last-child::after{
  content: "";
  width: 56px;
  height: 56px;
  border-radius: 50%;
  background-color: #79c8c7;
  background-image: url(../img/icon-close.svg);
  background-repeat: no-repeat;
  background-position: center center;
  position: absolute ;
  bottom: -28px;
}

.client-close-name{
  margin: 0;
  margin-top: 3px;
  color: #79c8c7;
  font-weight: 700;
}

.client-close-text{
  margin: 0;
  margin-top: 8px;
}

.client-close-social{
  display: flex;
  margin-top: 24px;
  margin-bottom: 10px;
}

/* CLIENTS-COMPANY */

.site-hero-clients-company {
  background-color: #012f34;
  padding-top: 140px;
  padding-bottom: 140px;
}
.clients-company-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.clients-company-heading {
  margin: 0;
  font-size: 48px;
  line-height: 48px;
  font-weight: 700;
}
.clients-company-logo {
  display: flex;
  align-items: center;
  margin-top: 65px;
}
.clients-company-img:not(:last-child) {
  margin-right: 80px;
}